{% extends "barra_menu.html" %}
{% block contenedor %}
<h1 class='text-center my-5'>Registrar Usuario</h1>
<div class='my-5 container'>
    <form method='POST' action='/logica_actualizar_usuario/'> {% csrf_token %}

        <div class="mb-3">
            <label for="" class="form-label">ENUMERACION</label>
            <input type="text" class="form-control" id="txtEnumeracion" name="txtEnumeracion" value="{{ actualizar_usuario.Enumacion_Usuario }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">USUARIO</label>
            <input type="text" class="form-control" id="txtNombre" name="txtNombre" value="{{ actualizar_usuario.Nombre_Usuario }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">CONTRASENIA</label>
            <input type="text" class="form-control" id="txtContrasenia" name="txtContrasenia" value="{{ actualizar_usuario.Contrasenia_Usuario }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">CORREO</label>
            <input type="text" class="form-control" id="txtCorreo" name="txtCorreo" value="{{ actualizar_usuario.Correo_Usuario }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">TELEFONO</label>
            <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" value="{{ actualizar_usuario.Telefono_Usuario }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">FECHA</label>
            <input type="date" class="form-control" id="txtFecha" name="txtFecha" value="{{ actualizar_usuario.Fecha_Usuario }}" required>
        </div>

        <button type="submit" class="btn btn-primary" href='/enlace_tabla_registro_usuario/'>GUARDAR</button>
        
    </form>
</div>
{% endblock contenedor %}