{% extends "barra_menu.html" %}
{% block contenedor %}
<h1 class='text-center my-5'>Registrar Trabajador</h1>
<div class='my-5 container'>
    <form method='POST' action='/logico_actualizar_trabajador/'> {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">ENUMERACION</label>
            <input type="text" class="form-control" id="txtEnumeracion" name="txtEnumeracion" value="{{ actualizar_trabajador.Enumeracion_Trabajador }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">NOMBRE</label>
            <input type="text" class="form-control" id="txtNombre" name="txtNombre" value="{{ actualizar_trabajador.Nombre_Trabajador }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">DNI</label>
            <input type="text" class="form-control" id="txtDni" name="txtDni" value="{{ actualizar_trabajador.Apellido_Trabajador }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">CARGO</label>
            <input type="text" class="form-control" id="txtCargo" name="txtCargo" value="{{ actualizar_trabajador.Cargo_Trabajador }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">HORA</label>
            <input type="number" class="form-control" id="txtHora" name="txtHora" value="{{ actualizar_trabajador.Hora_Trabajador }}" required>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">FECHA</label>
            <input type="date" class="form-control" id="txtFecha" name="txtFecha" value="{{ actualizar_trabajador.Fecha_Trabajador }}" required>
        </div>

        <button type="submit" class="btn btn-primary" href=''>GUARDAR</button>
        
    </form>
</div>
{% endblock contenedor %}
